
/*  SIZE */
.createBox{
    height: auto;
    width:  800px;
}

.questionContainer{
    height: auto;
}



/* Alignment */


.createBox{
    margin-top: 1em;
}

.createBox{
    display:flex;
    flex-direction: column;
}
  

.questionContainer{
    display: flex;
    flex-direction: column;
}




.cardNumber{
    margin-top: .5em;
}