
/* Allignment */

.center{
  margin: 0 auto;
}


.textarea{
  width:400px !important;
}







/* CREATING A FLASHCARD */
.answers{
  width: 350px;
}

.answers{
  margin-top:0.5em;
  margin-bottom:0.5em;
}

.withRadioButton{
  display: flex;
  flex-direction: row;
}

.RadioButtonBox{
  margin-right: 1em;
  height: 56px;
  width: 13px;
}

.RadioButton{
  margin-top: 10px;
}



/*  Timer  */

#timer{
  display: none;
}


#quizbox{
  display: none;
}



/* Score Box */
#scorebox{
  display: none;
}



/*  ANSWER BOX  */



.answerBoxQuiz{
  width: auto;
  margin-top: 1em;
  margin-bottom: 1em;
}



.line_display{
  display: flex;
  flex-direction: column;
}



/* VERSION 2.0 */


/* Home Page - Info Card */

.userButton{
  margin-left: 1em;
}


#DoesNotExist , #DoesExist{
  display: none;
}




/*  Create Flashcard Page */

.DeleteButton{
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 7px;
}


.addRemoveButtons{
  display: flex;
  align-items: stretch;
}

.createAnswerButton{
  width: 33px;
  height: 30px;
  margin-top: 1em;
}

.enterAnswerInput{
  margin-left: 1em;
}